* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 8px;
  }
}

.App {
  display: block;
  min-height: 100vh;
  /* background: #00ffbf; */
}

.NavBar {
  position: sticky;
  top: 0;
  text-align: center;
  background: #282c34;
  color: white;
  z-index: 1;
}

.title {
  margin: 0;
  font-size: 3.5rem;
  padding: 1rem 0;
}

.deck-display {
  display: block;
  border: solid white 4px;
  font-size: 1.5rem;
  padding: 1rem;
}

.card-display {
  display: flex;
  border: solid black 6px;
  background: lightslategray;
  font-size: 1rem;
  padding: .5rem 1rem;
  margin: .5rem;
  align-items: center;
}

.Question {
  padding: 1rem;
}

.Answer {
  padding: 1rem;
}

.Scoreboard {
  position: sticky;
  bottom: 50%;
  left: 35%;
  border: solid yellow 5px;
  width: 30%;
  height: 30%;
  background: lightblue;
}

.deck-name {
  font-size: 1.8rem;
  margin: 0;
} 

.Homepage {
  height: 100%;
  padding: 4rem;
}

p {
  margin: .5rem;
}

ul {
  padding: 0;
}

select {
  margin: 1rem;
  padding: .2rem;
  border: solid black .2rem;
  border-radius: .4rem;
  font-size: 1.1rem;
  color: white;
  background: black;
  height: 2.5rem;
}

.StyledButton {
  border: solid black .3rem;
  padding: .5rem;
  background-image: radial-gradient(rgb(185, 203, 240), blue);
  background-size: 110%;
  color: white;
  /* font-weight: bold; */
  box-shadow: black 0 0 .6rem;
}

.StyledButton:hover {
  box-shadow: black 0 0 1rem;
  color: white;
  animation: styled-button 2s linear forwards;
}

.StyledButton:active {
  box-shadow: darkblue 0 0 .5rem;
  background-image: radial-gradient(black, blue);
  color: white;
  padding: .4rem;
}

.link {
  color: white;
  text-decoration: none;
  padding: .5rem;
  margin: .5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-links {
  padding: 1rem;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.go-to-deck {
  border: solid black .1rem;
  padding: .5rem;
  background-image: radial-gradient(rgb(185, 203, 240), darkgray);
  background-size: 110%;
  color: black;
  font-weight: bold;
  border-radius: .4rem;
  /* box-shadow: black 0 0 .3rem; */
}

.card-container {
  display: flex;
  flex-direction: column;
}

.study-card-container {
  width: 80%;
  margin: 0 auto;
}

.quiz-card-container {
  width: 80%;
  margin: 0 auto;
}


