* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@keyframes styled-button {
  0% {background-size: 115%; background-color: yellow;}
  100% {background-size: 130%; background-color: red;}
}

.App {
  display: block;
  min-height: 100vh;
  /* background: #00ffbf; */
}

.NavBar {
  position: sticky;
  top: 0;
  text-align: center;
  background: #282c34;
  color: white;
  z-index: 1;
}

.title {
  margin: 0;
  font-size: 3.5rem;
  padding: 1rem 0;
}

.Deck-display {
  display: block;
  border: solid white 4px;
  font-size: 1.5rem;
  padding: 1rem;
}

.Card-display {
  display: flex;
  border: solid black 6px;
  background: lightslategray;
  font-size: 1rem;
  padding: .5rem 1rem;
  margin: .5rem;
  align-items: center;
}

.Question {
  padding: 1rem;
}

.Answer {
  padding: 1rem;
}

.Scoreboard {
  position: sticky;
  bottom: 50%;
  left: 35%;
  border: solid yellow 5px;
  width: 30%;
  height: 30%;
  background: lightblue;
}

.deck-name {
  font-size: 1.8rem;
  margin: 0;
} 

.Homepage {
  height: 100%;
  padding: 4rem;
}

p {
  margin: .5rem;
}

ul {
  padding: 0;
}

select {
  margin: 1rem;
  padding: .2rem;
  border: solid black .2rem;
  font-size: 1rem;
  color: white;
  background: black;
}

.StyledButton {
  border: solid black .3rem;
  padding: .5rem;
  background-image: radial-gradient(rgb(185, 203, 240), blue);
  background-size: 110%;
  color: white;
  /* font-weight: bold; */
  box-shadow: black 0 0 .6rem;
}

.StyledButton:hover {
  box-shadow: black 0 0 1rem;
  color: white;
  animation: styled-button 2s linear forwards;
}

.StyledButton:active {
  box-shadow: darkblue 0 0 .5rem;
  background-image: radial-gradient(black, blue);
  color: white;
  padding: .4rem;
}

