* {
  box-sizing: border-box;
  margin: 0;
  border: none;
  outline: none;
}

html {
  font-size: 14px;
}

@media screen and (max-width: 599px) {
  html {
    font-size: 8px;
  }
  .deck-display {
    max-width: 95vw;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  html {
    font-size: 10px;
  }
  .deck-display {
    max-width: 85vw;
  }
}

@media screen and (min-width: 1001px) {
  html {
    font-size: 12px;
  }
  .deck-display {
    max-width: 65vw;
  }
}

:root {
  --dark: #23322F;
  --darker: #131313;
  --lighter: #f6f3f5;
  --light: #ebdbd7;
  --blue: #7093bb;
  --lightblue: #82c0d8;
  --darkblue: #5b679c;
  --green: #22c69f;
  --mediumgreen: #3cb371;
  --lightgreen: #2ed1ab;
  --greengrey: #8f9d8f;
  --redgrey: #8d7b79;
  --red: #8a5d58;
  --lightred: #9c706b;
  --lightgrey: #cac0c4;
  --lightcoral: #f08080;
  --lightsalmon: #ffa07a;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

a {
  text-decoration: none;
}

input[type=submit], button {
  cursor: pointer;
}

button:disabled {
  opacity: .4;
}

.App {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite; */
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: var(--darker);
  background-size: 20px 20px;
  display: block;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  font-family: 'Montserrat';
}

.NavBar {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  padding: 0 1.5rem;
  background: radial-gradient(var(--lightred), var(--red));
  z-index: 1;
  overflow: visible;
}

.app-title {
  font-style: italic;
  font-weight: 800;
  color: var(--light);
}

.fontawesome-home {
  color: var(--dark);
  transition-delay: 1s;
}

.fontawesome-logout {
  cursor: pointer;
  color: var(--dark);
  /* padding-top: 3rem; */
  transition-delay: 1s;
}

.fontawesome-menu-button {
  cursor: pointer;
  color: var(--lighter);
  z-index: 1;
}

.menu-button {
  display: flex;
  height: 100%;
  align-items: center;
}

.menu-container {
  height: fit-content;
  position: absolute;
  top: 100%;
  right: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
  background-color: var(--light);
  border-radius: .3rem;
  align-content: space-around;
  font-size: 2rem;
}

/* FORMS */

.auth-form {
  background-color: var(--light);
  color: var(--dark);
  margin: 20vh auto;
  width: 80vw;
  max-width: 600px;
  padding: 3rem;
  border-radius: .5rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.auth-form-title {
  font-size: 2rem; 
  text-align: right;
}

input {
  outline: none;
  border: none;
}

.auth-form input[type=text] {
  margin: 1rem 0rem;
  padding: .5rem;
  font-size: 1.5rem;
  width: 100%;
  border-bottom: solid 2px gray;
  background-color: var(--light);
}

.auth-form input[type=text]:hover {
  border-bottom: solid 2px var(--blue);
}

.auth-form input[type=text]:focus {
  border-bottom: solid 3px var(--lightblue);
}

.auth-form input[type=submit] {
  width: 30%;
  padding: 1rem 2rem;
  background-color: var(--lighter);
  color: var(--dark);
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 1rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}

.auth-form input[type=submit]:hover {
  background-color: var(--dark);
  color: var(--lighter);
}

.auth-form label {
  font-size: 1.6rem;
  margin-bottom: 5rem;
}

/* DECKS */

.deck-display {
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0 auto;
}

.deck-title {
  margin: 5rem 0rem;
  padding-left: 1rem;
  padding-bottom: .2rem;
  display: flex;
  align-items: baseline;
  color: var(--light);
  font-family: 'Bungee';
  border-bottom: ridge thick var(--lightblue);
}

.mode-select {
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: center;
  margin-top: 50px;
}

.mode-select-container h2 {
    margin-top: 75px;
    width: 100%;
    text-align: center;
    color: var(--light);
}

.motion-option {
  text-align: center;
  color: var(--light);
  margin: 2.5rem;
  font-family: 'Bungee';
  font-size: 2rem;
  border: none;
  cursor: pointer;
  position: relative;
}

.motion-option.selected {
    font-size: 4rem;
}

.underline {
    width: 100%;
    height: 6px;
    background: var(--lightblue);
    position: absolute;
    bottom: -4px;
}

.confirm-mode {
    margin-top: 20px;
}

.confirm-mode button {
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 5px;
    background: transparent;
    color: var(--lighter);
    border: solid 2px var(--red);
}

.deck-options-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 2rem 0rem;
  margin: 0 auto;
  justify-content: center;
}

.deck-option-container {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.deck-option {
  font-family: 'Bungee';
  cursor: pointer;
  border-radius: .6rem;
  text-align: center;
  margin: .8rem auto;
  padding: 1rem;
  background-color: var(--dark);
  color: var(--lightblue);
  position: relative;
}

.deck-option-name {
  margin: 0;
}

.deck-option-bttn {
  opacity: 0;
  border-radius: 15%;
  border: solid 2px var(--light);
  position: absolute;
  right: 0;
  top: 50%;
  padding: .3rem .8rem;
  background: var(--dark);
  transform: translate(-25%, -50%);
  color: var(--light);
  transition-delay: .2s;
  transition-duration: .4s;
}

.decks-container {
  width: 80vw;
  max-width: 900px;
  margin: 0 auto;
  border-radius: .75rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.decks-header {
  border-bottom: solid 3px var(--light);
  margin: 6rem 2rem 0rem;
  padding: .2rem 1.5rem;
  font-style: italic;
  font-size: 3rem;
  color: var(--light);
}

/* CARDS */

.card-container {
  margin: 2rem auto;
  max-width: 750px;
}

.card {
  width: 90%;
  margin: 0 auto;
  border-radius: 1rem;
  background-image: radial-gradient(var(--lightblue), var(--darkblue));
  background-size: 200% 200%;
  background-position: center;
  padding: 1rem;
}

.inner-card {
  position: relative;
  width: 100%;
  max-width: 700px;
  padding: 15px;
  margin: 0 auto;
  border-radius: .5rem;
  color: var(--dark);
  background-image: radial-gradient(var(--lighter), var(--light));
  box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0 0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.question-number {
  font-family: 'Bungee';
  color: var(--red);
  padding-right: 1rem;
}

.question {
  display: inline;
  font-style: italic;
  color: var(--dark);
}

.answer {
  padding: 1rem;
}

.answer textarea {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: var(--lightgrey);
  width: 100%;
}

.answer-submit {
  margin-left: 2rem;
  padding: .4rem 2rem;
  background-color: var(--lighter);
  color: var(--darker);
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: .5rem;
  box-shadow: 0 1px 4px 0 var(--dark);
}

.answer-submit:hover {
  color: var(--dark);
  box-shadow: 0px 1px 3px 2px var(--dark);
}

.fontawesome-lightbulb {
  cursor: pointer;
  color: var(--blue);
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-size: 2.2rem;
}

.fontawesome-lightbulb::before {
  content: "HINT ";
  width: 6rem;
}

.fontawesome-lightbulb:hover {
  color: lightyellow;
}

.navigation-buttons {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  color: var(--light);
}

.nav-button {
  cursor: pointer;
  color: var(--darkblue);
  padding: 1rem 2rem;
  width: 25%;
  border-radius: 1rem;
  border: rgba(0, 0, 0, 0) solid 2px;
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 2px 0px var(--darkblue);
}

.nav-button:hover {
  color: var(--light);
  border: solid 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px 2px var(--darkblue);
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.nav-button:active {
  color: var(--lighter);
  box-shadow: 0px 0px 9px 5px var(--lightblue);
  transition-duration: .1s;
}

.inner-card-nav {
  margin: .6rem 0;
  font-size: 1.9rem; 
  font-weight: 600;
  color: var(--light);
}

.card-nav-input {
  background: none;
  border-bottom: solid 2px var(--dark); 
  width: 3rem;
  font-size: 2rem;
  text-align: center;
  color: var(--light);
}

.scoreboard {
  position: sticky;
  bottom: 50%;
  left: 35%;
  border: solid yellow 5px;
  width: 30%;
  height: 30%;
  background: lightblue;
}

.Homepage {
  height: 100%;
  overflow: hidden;
}

.home-deck-bttn {
  display: flex;
  color: #282c34;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
  /* background-image: radial-gradient(rgb(255,255,255), rgb(240,128,128), rgb(255,255,255)); */
  width: 18rem;
  height: 18rem;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

.landing-page {
  opacity: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: center;
}

.landing-page a {
  position: relative;
  top: 25%;
  width: 25rem;
  max-width: 300px;
  margin: 1.5rem;
  padding: 1rem;
  color: var(--darker);
  background-color: var(--lighter);
  border-radius: 1rem;
  border: solid 2px var(--dark);
  text-align: center;
  font-size: 1.3rem;
  font-weight: 800;
}

.landing-page a:hover {
  background-color: var(--dark);
  color: var(--light);
  border: solid 2px var(--lighter);
  transition-duration: .3s;
}

.outline {
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 3px solid var(--dark);
  border-radius: 1rem;
}

.selected-div {
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 0px var(--light);
}

.checkmark.correct {
  animation: checkmark-correct .6s ease-in-out .6s forwards;
}

.incorrect {
  animation: checkmark-incorrect .6s ease-in-out .6s forwards;
}

@keyframes checkmark-correct {
  0% {box-shadow: inset 0px 0px 0px 0px var(--lightgreen)}
  100% {box-shadow: inset 0px 0px 0px 30px var(--lightgreen)}
}

@keyframes checkmark-incorrect {
  0% {box-shadow: inset 0px 0px 0px 0px var(--lightred)}
  100% {box-shadow: inset 0px 0px 0px 30px var(--lightred)}
}

.checkmark-circle {
  fill: none;
  stroke: var(--lighter);
  stroke-width: 5px;
  stroke-dasharray: 160;
}

.check {
  fill: none;
  stroke: var(--lighter);
  stroke-width: 5px;
  stroke-linecap: round;
}